section.kit{
    width: 100%;
    max-height: 75rem;

    & .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4rem;

        & header{
            margin-top: 6.5rem;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            align-items: center;

            & span{
                font-family: "Raleway", sans-serif;
                font-size: .875rem;
                color:  #E2E7E9;
            }
            & div{
                display: flex;
                gap: .75rem;

                & img{
                    width: 1.25rem;
                    background-color: rgba(149,71,165,0.1);
                    box-shadow: 0px 0px 87px 3px rgba(149,71,165,1.1);
                }

                & h2{
                    font: var(--Title-sm) var(--ff);
                    color: var(--text-title);
                }
            }
        }

        & .book.mobile-only{
            width: 100%;
            height: 20rem;
            position: relative;

            & img{
                position: absolute;
                max-width: 100%;
                transition:ease;
            }

            & span{
                position: absolute;
                color: var(--text-title);
                font: .625rem var(--ff);
                animation-timeline: view(30px);
            }

            & img:nth-child(1){
                max-width: 9.3rem;
                left: 5.53rem;
                top: 3.62rem;
            }
            & img:nth-child(2){
                max-width: 4rem;
                left: 14.1rem;
                top: 4.2rem;
                z-index: -1;
                animation: book-view 300ms ease forwards, rotate-1 300ms ease both;
                transform: translateX(-6rem);
                animation-timeline: view();
                animation-range: 100px 200px;
            }

            & img:nth-child(3){
                max-width: 4.12rem;
                left: 13rem;
                top: 1rem;
                z-index: -1;
                animation: rotate-2 300ms ease forwards, eixo 300ms ease both;
                transform: translate(-6rem, 2.7rem);
                animation-timeline: view();
                animation-range: 100px 200px;
            }
            & img:nth-child(4){
                max-width: 4.12rem;
                left: 3rem;
                top: 14.5rem;
                z-index: -1;
                animation: eixo-neg 300ms ease both, rotate-3 300ms ease both;
                transform: translate(5rem, -8rem);
                animation-timeline: view();
                animation-range: 100px 200px;
            }

            /*setas*/
            & img:nth-child(5){
                max-width: 3.12rem;
                left: 3rem;
                top: 3rem;
                z-index: -1;

                animation: eixo-neg 300ms ease both, rotate-3 300ms ease both;
                transform: translate(5rem, 3rem);
                animation-timeline: view();
                animation-range: 100px 200px;
            }
            & img:nth-child(6){
                max-width: 2.18rem;
                left: 2.5rem;
                top: 12.5rem;
                z-index: -1;

                animation: eixo-neg 300ms ease both, rotate-3 300ms ease both;
                transform: translate(5rem);
                animation-timeline: view();
                animation-range: 98px 200px;
            }
            & img:nth-child(7){
                max-width: 3.13rem;
                left: 14rem;
                top: 14rem;
                z-index: -2;

                animation:eixo 400ms ease both;
                transform: translate(-6rem, -3.5rem);
                animation-timeline: view();
                animation-range: 157px 200px;
            }

            & #span-1{
                top: 1.7rem;
                left: 1rem;
                z-index: -1;

                animation: eixo-neg 300ms ease both;
                transform: translate(6rem, 3rem);
                animation-timeline: view();
                animation-range: 100px 200px;
            }

            & #span-2{
                top: 11.5rem;
                left: 1rem;
                z-index: -1;

                animation: eixo-neg 300ms ease both;
                transform: translate(6rem);
                animation-timeline: view();
                animation-range: 100px 200px;
            }

            & #span-3{
                top: 17.5rem;
                left: 12.5rem;
                z-index: -1;

                animation:eixo 300ms ease both;
                transform: translate(-6rem, -3.5rem);
                animation-timeline: view();
                animation-range: 55px 200px;
            }
        }
    }
}

@keyframes book-view{
    0{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes eixo{
    0{
        transform: translate(100%);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes eixo-neg{
    0{
        transform: translate(-100%);
    }
    100%{
        transform: translate(0);
    }
}

@keyframes rotate-1{
    100%{
        transform: rotate(23deg)
    }
}

@keyframes rotate-2{
    100%{
        rotate: 13deg;
    }
}

@keyframes rotate-3{
    100%{
        rotate: 10deg;
    }
}


    /*VERSÃO DESKTOP*/
@media (width >= 1280px){
    section.kit{
        height: 99rem;

        & .content{
            gap: 5.5rem;

            & header{
                margin-top: 14rem;
                gap: .3rem;

                & span{
                    font-size: 1rem;
                }

                & div{
                    gap: 1rem;

                    & img{
                        width: 2rem;
                        background-color: rgba(149,71,165,0.1);
                        box-shadow: 0px 0px 87px 3px rgba(149,71,165,1.1);
                    }
                }
            }

            & .book.desktop-only{
                width: 100%;
                position: relative;

                & div{
                    width: 100%;
                    height: 800px;
                }

                & img{
                    position: absolute;
                    max-width: 100%;
                    transition: 500ms ease;
                }

                & span{
                    position: absolute;
                    color: var(--text-title);
                    font: 1rem var(--ff);
                    transition:  500ms ease;
                }

                &:hover{

                    & img:nth-child(2){
                        left: 60.37rem;
                        transform: rotate(35deg);
                    }

                    & img:nth-child(3){
                        left: 55.2rem;
                        top: 6.5rem;
                        transform: rotate(15deg);
                    }

                    & img:nth-child(4){
                        max-width: 13.87rem;
                        left: 22rem;
                        top: 38.56rem;
                        transform: rotate(-10deg);
                    }
                    /*setas*/
                    & img:nth-child(5){
                        left: 21.93rem;
                        top: 7.18rem;
                    }

                    & img:nth-child(6){
                        max-width: 6.56rem;
                        left: 18.5rem;
                        top: 33.5rem;
                    }

                    & img:nth-child(7){
                        left: 55.6rem;
                        top: 41.37rem;
                    }

                    & #span-1{
                        top: 4.37rem;
                        left: 17.93rem;
                    }
        
                    & #span-2{
                        top: 31rem;
                        left: 17rem;
                    }
        
                    & #span-3{
                        top: 51.5rem;
                        left: 51.5rem;
                    }
                }
                & img:nth-child(1){
                    max-width: 28rem;
                    left: 30.18rem;
                    top: 8.37rem;

                }
                & img:nth-child(2){
                    max-width: 12rem;
                    left: 46.5rem;
                    top: 10rem;
                    z-index: -2;
                    rotate: 0;
                }
                & img:nth-child(3){
                    max-width: 12rem;
                    left: 46.5rem;
                    top: 9rem;
                    rotate: 0;
                    z-index: -1;
                    
                }
                & img:nth-child(4){
                    max-width: 11.87rem;
                    left: 33.5rem;
                    top: 33.3rem;
                    rotate: 0;
                    z-index: -1; 
                }
    
                /*setas*/
                & img:nth-child(5){
                    max-width: 10.93rem;
                    left: 33rem;
                    top: 11.5rem;
                    z-index: -1;
                }
                & img:nth-child(6){
                    max-width: 4.56rem;
                    left: 35rem;
                    top: 29rem;
                    z-index: -1;
                }
                & img:nth-child(7){
                    max-width: 9.06rem;
                    left: 48.5rem;
                    top: 31rem;
                    z-index: -3;
                }
    
                & #span-1{
                    left: 33rem;
                    top: 10rem;
                    z-index: -1;
                }
    
                & #span-2{
                    top: 28.43rem;
                    left: 33rem;
                    z-index: -1;
                }
    
                & #span-3{
                    top: 42rem;
                    left: 46rem;
                    z-index: -1;
                }
            }
        }
    }
}